---
import ImageExt from "./ImageExt.astro";

const { items } = Astro.props;
---

<div class="content overflow-x-auto">
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Quantidade</th>
        <th class="min-w-[120px]">Valor Unitário NPC</th>
        <th class="min-w-[120px]">Valor Total NPC</th>
        <th class="min-w-[150px]">Valor Unitário Market</th>
        <th class="min-w-[120px]">Valor Total Market</th>
      </tr>
    </thead>
    <tbody>
      {
        items.map(
          (
            item: {
              item_img: string;
              name: string;
              quantity: number;
              value_npc: number;
            },
            index: any,
          ) => (
            <tr>
              <td class="flex flex-row items-center gap-1 justify-center">
                <ImageExt
                  class="rounded"
                  src={item.item_img}
                  alt={item.name}
                  width={16}
                  height={16}
                  format="webp"
                />
                {item.name}
              </td>
              <td id={`quantity-${index}`} data-item-quantity={item.quantity}>
                {item.quantity}
              </td>
              <td id={`npc-price-${index}`}>{item.value_npc}</td>
              <td id={`npc-total-${index}`}>
                {item.quantity * item.value_npc}
              </td>
              <td>
                <input
                  type="number"
                  id={`market-price-${index}`}
                  class="sm:w-100 form-input md:w-3/5 [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none recipe-market"
                  value={item.value_npc}
                />
              </td>
              <td id={`market-total-${index}`} />
            </tr>
          ),
        )
      }
    </tbody>
  </table>
</div>
<script type="module">
  const recipeInputs = document.querySelectorAll(".recipe-market");
  recipeInputs.forEach((input, index) => {
    input.addEventListener("input", function () {
      let inputValue = this.value;
      if (inputValue.length > 8) {
        this.value = inputValue.slice(0, 8);
      }
    });
  });
</script>
